/*FONTS*/
@font-face 
{
    font-family: 'Title';
    src: url('../assets/font/VTCBayard-Rustin.woff2') format('woff2'),
         url('../assets/font/VTCBayard-Rustin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root 
{
--body-copy: 16px;
--title: 36px;
--subtitle: 32px;
--brand-color: #EC5151;
}

body 
{
font-family: "Pally", sans-serif;
font-size: var(--body-copy);
font-weight: 400;
line-height: 1.5;
width: 80%;
margin: auto;
margin-bottom: 20vh;
background-color: var(--brand-color);
}

h1 
{
font-family: 'Title', serif;
font-size: var(--title);
font-weight: 600;
line-height: 1;
letter-spacing: 1.2px;
}

h2 
{
font-size: var(--subtitle);
font-weight: 500;
margin-bottom: 2vh;
letter-spacing: 1px;
}

/* Navbar styles */
.navbar {
position: sticky;
top: 0;
left: 0;
width: 100%;
background-color: var(--brand-color);
display: flex;
align-items: center;
z-index: 1000;
padding: 5vh 0 1vh 0;
margin-bottom: 3vh;
}

.navbar .logo {
height: 8vh;
}

/* Section spacing */
.hero, .about, .sessions
{
margin-bottom: 3vh;
}

.line 
{
border-bottom: 3px solid #000;
margin: 6vh 0;
}

.line1
{
border-bottom: 0.5px solid #000;
margin-top: 6vh; 
margin-bottom: 2vh; 
}

/* Hero section */
.hero .left p 
{
margin: 1vh 0;
font-weight: 400;
}

.right1
{
    margin-top: 1.5vh;
}

/* About section */
.about .left p 
{
margin-bottom: 2vh;
}

/* Navigation links */
.about .right a h3,
.sessions .right a h3,
.sessions .left a h3 
{
margin-bottom: 1.5vh;
}

.right
{
margin-top: 5vh;
}

.right a 
{
font-weight: 400;
display: block;
margin-bottom: 1vh;
letter-spacing: 1px;
}

/* Section layouts for larger screens */
@media screen and (min-width: 768px) 
{
:root 
{
--body-copy: 24px;
--title: 185px;
--subtitle: 36px;
}

body
{
    width: 60%;
    letter-spacing: 1px;
}

/* Navbar styles */
.navbar {
margin-bottom: 3vh;
}

.hero
{
text-align: center;
}

h1
{
    letter-spacing: 5px;
    margin-bottom: 1vh;
}

.right1
{
    width: 50%;
    margin: auto;
    padding: auto;
    margin-top: 5vh;
}

.about, .sessions 
{
display: flex;
justify-content: space-between;
}

.left
{
width: 50%;
margin-right: 10%;
}

.right
{
width: 40%;
}

a:hover
{
color: white;
font-weight: 500;
}

.line
{
margin: 10vh 0;
}

.line1
{
margin-top: 15vh;
}

.right
{
margin-top: 0vh;
}

}